@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding:40px 100px;
    z-index:1000;
    display:flex;
    justify-content: space-between;
    align-items:center;
}